---
import Component from "../components/Component.astro";
import Service from "../components/service/index.astro";
import { SERVICES } from "../data/services";
import { SOCIALS } from "../data/socials";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Consultoria de Software - Marco Antônio">
  <div class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img src="/avatar.png" alt="Marco Antônio" class="w-16 h-16" />
            <div>
              <a
                href="/"
                class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <h1>Marco Antônio</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Consultor de Software
              </h2>

              <a
                data-ccursor
                href="mailto:marcoantonio.desenvolvedor@gmail.com"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Me envie um email</span>
                <sapn
                  class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"
                >
                </sapn>
              </a>
            </div>
          </div>

          {
            SOCIALS.length && (
              <ul
                class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                aria-label="Social media"
              >
                {SOCIALS.map((social) => (
                  <li class="text-xs p-2 rounded" data-ccursor>
                    <a
                      class="block hover:text-slate-200"
                      href={social.url}
                      target="_blank"
                      rel="noreferrer noopener"
                      aria-label={`${social.name} (opens in a new tab)`}
                    >
                      <span class="sr-only">{social.name}</span>
                      {<Component component={social.icon} />}
                    </a>
                  </li>
                ))}
              </ul>
            )
          }
        </header>

        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <!-- Seção Sobre -->
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Sobre mim"
          >
            <div class="mb-6">
              <h2
                class="text-lg font-bold uppercase tracking-widest text-neutral-200"
              >
                Sobre a consultoria
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4">
                <p>
                  💡 Ajudo empresas a evoluírem suas aplicações e times de
                  desenvolvimento, levando-as do ponto A ao ponto B com soluções
                  estratégicas e eficientes.
                </p>

                <p>
                  Com uma abordagem orientada a resultados, trago eficiência,
                  qualidade e inovação para o seu negócio. Vamos transformar
                  suas ideias em soluções escaláveis! 🚀
                </p>
              </div>
            </div>
          </section>

          <!-- Seção Serviços -->
          <section
            id="services"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Serviços"
          >
            <div class="mb-6">
              <h2
                class="text-lg font-bold uppercase tracking-widest text-neutral-200"
              >
                Serviços
              </h2>
            </div>
            <div>
              <ol class="group/list space-y-12">
                {SERVICES.map((service) => <Service {...service} />)}
              </ol>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>

  <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} All rights reserved.
  </footer>
</Layout>

<style scoped>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }

  /*
  .hero {
    animation: fadeIn 3s;
  }
   */
</style>
